pipeline/ForEach.json
{
	"name": "ForEach",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pvar",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vvar1",
								"value": {
									"value": "@string(length(item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('vvar1')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "2",
										"activities": [
											{
												"name": "Append variable2",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "a2",
													"value": {
														"value": "@variables('vvar2')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "5",
										"activities": [
											{
												"name": "Append variable3",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "a3",
													"value": {
														"value": "@variables('vvar2')",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "a1",
											"value": {
												"value": "@variables('vvar2')",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vvar2",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pvar",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(),'ja')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pvar": {
				"type": "array",
				"defaultValue": [
					"tarun",
					"varun",
					"ja",
					"jaaa",
					"ramu",
					"jeevan"
				]
			}
		},
		"variables": {
			"vvar1": {
				"type": "String"
			},
			"a1": {
				"type": "Array"
			},
			"a2": {
				"type": "Array"
			},
			"a3": {
				"type": "Array"
			},
			"vvar2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T23:19:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}